.faq{
    margin-top: 60px;
}

.faq > h2{
    text-align: center;
    margin-bottom: 50px;
}

.faq-drawer {
    margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}

.faq-drawer__title {
    border-top: #fff 1px solid;
    cursor: pointer;
    display: block;
    font-size: 1.25em;
    font-weight: 700;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
    color: white;
    user-select: none;
}

@media screen and (max-width: 425px) {
    .faq-drawer__title{
        font-size: 1rem;
    }
}

.faq-drawer__title::after {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
}


.faq-drawer__trigger:checked
+ .faq-drawer__title
+ .faq-drawer__content-wrapper {
    max-height: 350px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
    display: none;
}

.faq-drawer__content{
    padding-top: 20px;
}